<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ .title }}</title>
<link rel="stylesheet" href="/assets/style/github-markdown.css" media="all">
</head>
<body>
<div class="markdown-body">{{ .body }}</div>
</body>
</html>
